body{
    margin: 0;
    background-color: lightgrey;
}

img{
    height: 100vh;
    z-index: 1;
    position: absolute;
    left: 35%;
}

@keyframes spin {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

#bubble1{
    height: 50px;
    position: absolute;
    left: 36%;
    top: 60%;
}

img:hover ~ #bubble1 {
    animation: spin 10s linear infinite;
}