body{
    margin: 0;
    background-color: lightgrey;
}

img{
    height: 100vh;
    z-index: 3;
    position: absolute;
    left: 35%;
}

@keyframes spin {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

@keyframes yaxis {
    0%{top: 100vh;}
    25%{top: 30vh; animation-timing-function: ease-out;}
    50%{top: 2vh; animation-timing-function: ease-in;}
    75%{top: 30vh; animation-timing-function: ease-out;}
    100% {top: 100vh;}
}

@keyframes xaxis {
    0% {transform: translateX(0px);}
    25%{transform: translateX(0px);animation-timing-function: ease-in;}
    50%{transform: translateX(-183px);animation-timing-function: ease-out;}
    75%{transform: translateX(-365px);animation-timing-function: ease-in;}
    100%{transform: translateX(-365px);}
}

#bubble1{
    height: 45px;
    position: absolute;
    z-index: 2;
    left: 60.2%;
    top: 100vh;
    .cls-1{opacity:0.8;}.cls-2{fill:#36a9e1;}.cls-3{fill:#fff;}
}

#bubble2{
    height: 45px;
    z-index: 2;
    position: absolute;
    left: 60.2%;
    top: 100vh;
    .cls-1{opacity:0.8;}.cls-2{fill:#951b81;}.cls-3{fill:#fff;}
}

#bubble3{
    height: 45px;
    z-index: 2;
    position: absolute;
    left: 60.2%;
    top: 100vh;
    .cls-1{opacity:0.8;}.cls-2{fill:#e6007e;}.cls-3{fill:#fff;}
}

#bubble4{
    height: 45px;
    z-index: 2;
    position: absolute;
    left: 60.2%;
    top: 100vh;
    .cls-1{opacity:0.8;}.cls-2{fill:#f39200;}.cls-3{fill:#fff;}
}

img:hover {
    filter: brightness(110%);
}

img:hover ~ #bubble1 {
    animation: spin 10s linear infinite, yaxis 8s linear infinite, xaxis 8s linear infinite;
    filter: brightness(150%);
}

img:hover ~ #bubble2 {
    animation: spin 10s linear infinite, yaxis 8s linear infinite, xaxis 8s linear infinite;
    animation-delay: 2s;
    filter: brightness(150%);
}

img:hover ~ #bubble3 {
    animation: spin 10s linear infinite, yaxis 8s linear infinite, xaxis 8s linear infinite;
    animation-delay: 4s;
    filter: brightness(150%);
}

img:hover ~ #bubble4 {
    animation: spin 10s linear infinite, yaxis 8s linear infinite, xaxis 8s linear infinite;
    animation-delay: 6s;
    filter: brightness(150%);
}

#bottombox{
    height: 50px;
    width: 100%;
    z-index: 6;
    background-color: lightgrey;
    position: absolute;
    top: 100vh;
}